<div>
    <h2 id="page-heading">
        <span jhiTranslate="virtualDigitalAssistantApp.faculties.home.title">Faculties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-faculties" [routerLink]="['/faculties/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="virtualDigitalAssistantApp.faculties.home.createLabel">
            Create a new Faculties
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="faculties?.length === 0">
        <span jhiTranslate="virtualDigitalAssistantApp.faculties.home.notFound">No faculties found</span>
    </div>
    <div class="table-responsive" *ngIf="faculties?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="virtualDigitalAssistantApp.faculties.nameFaculty">Name Faculty</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let faculties of faculties ;trackBy: trackId">
                <td><a [routerLink]="['/faculties', faculties.id, 'view' ]">{{faculties.id}}</a></td>
                <td>{{faculties.nameFaculty}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/faculties', faculties.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/faculties', faculties.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(faculties)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
