<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="faculties">
            <h2><span jhiTranslate="virtualDigitalAssistantApp.faculties.detail.title">Faculties</span> {{faculties.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="virtualDigitalAssistantApp.faculties.nameFaculty">Name Faculty</span></dt>
                <dd>
                    <span>{{faculties.nameFaculty}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/faculties', faculties.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
