<div>
    <h2 id="page-heading">
        <span jhiTranslate="virtualDigitalAssistantApp.forms.home.title">Forms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-forms" [routerLink]="['/forms/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="virtualDigitalAssistantApp.forms.home.createLabel">
            Create a new Forms
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="forms?.length === 0">
        <span jhiTranslate="virtualDigitalAssistantApp.forms.home.notFound">No forms found</span>
    </div>
    <div class="table-responsive" *ngIf="forms?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="virtualDigitalAssistantApp.forms.createDate">Create Date</span></th>
            <th scope="col" ><span jhiTranslate="virtualDigitalAssistantApp.forms.event">Event</span></th>
            <th scope="col" ><span jhiTranslate="virtualDigitalAssistantApp.forms.client">Client</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let forms of forms ;trackBy: trackId">
                <td><a [routerLink]="['/forms', forms.id, 'view' ]">{{forms.id}}</a></td>
                <td>{{forms.createDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="forms.event">
                        <a [routerLink]="['/events', forms.event?.id, 'view' ]" >{{forms.event?.nameEvent}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="forms.client">
                        <a [routerLink]="['/clients', forms.client?.id, 'view' ]" >{{forms.client?.phone}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/forms', forms.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/forms', forms.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(forms)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
