<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventTypes">
            <h2><span jhiTranslate="virtualDigitalAssistantApp.eventTypes.detail.title">Event Types</span> {{eventTypes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="virtualDigitalAssistantApp.eventTypes.nameEventType">Name Event Type</span></dt>
                <dd>
                    <span>{{eventTypes.nameEventType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-types', eventTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
